<!DOCTYPE html>
<html>
<head>
    <title>Validation de suppression de compte</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6em; margin: 0; padding: 20px;">

    <h2>Validation de suppression de compte</h2>

    <p>Bonjour {{ user.first_name }} {{ user.last_name }},</p>
    <p>Vous avez demandé à supprimer votre compte sur notre site.</p>
    <p>Pour valider la suppression de votre compte, veuillez cliquer sur le lien ci-dessous :</p>

    <p><a href="{{ domain }}/#/confirm_delete/{{ uid }}/{{ token }}">Valider la suppression du compte</a></p>

    <p>Si vous n'avez pas effectué cette demande, veuillez nous contacter de toute urgence.</p>

    <p>Merci,<br>
    L'équipe de notre site</p>

</body>
</html>
