<!DOCTYPE html>
<html>
<head>
    <title>Confirmation de suppression de compte</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6em; margin: 0; padding: 20px;">

    <h2>Confirmation de suppression de compte</h2>

    <p>Bonjour {{ user.first_name }} {{ user.last_name }},</p>
    <p>Votre compte sur notre site a été supprimé avec succès.</p>
    <p>Si vous n'avez pas effectué cette action, veuillez nous contacter immédiatement.</p>

    <p>Merci,<br>
    L'équipe de notre site</p>

</body>
</html>
