<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation d'inscription</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6em; margin: 0; padding: 20px;">

    <h2>Bienvenue {{ user.first_name }} {{ user.last_name }} !</h2>

    <p>Merci de vous être inscrit sur notre site. Vous avez rejoint le groupe "{{ group }}".</p>
    <p>Vous pouvez maintenant <a href="{{ domain }}/#/confirm_register/{{ uid }}/{{ token }}">valider votre inscription</a> et commencer à utiliser l'application CaTCaP !</p>
    <p>Merci,<br>
    L'équipe du projet CaTCaP</p>

</body>
</html>
