<!DOCTYPE html>
<html>
<head>
    <title>Réinitialisation du mot de passe</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6em; margin: 0; padding: 20px;">

    <h2>Réinitialisation du mot de passe</h2>

    <p>Bonjour {{ user.first_name }} {{ user.last_name }},</p>
    <p>Vous avez demandé une réinitialisation du mot de passe sur notre site.</p>
    <p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

    <p><a href="{{ domain }}/#/reset_password/{{ uid }}/{{ token }}">Réinitialiser le mot de passe</a></p>

    <p>Si vous n'avez pas effectué cette demande, veuillez ignorer cet e-mail.</p>

    <p>Merci,<br>
    L'équipe de notre site</p>

</body>
</html>
