<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ subject }}</title>
</head>
<body>
    <h2>Bonjour {{ user.first_name }},</h2>
    <p>Un utilisateur a utilisé le formulaire de contact de l'application CaTCaP. Voici son message :</p>
    <blockquote>{{ message }}</blockquote>
    <p>Vous pouvez lui répondre à cette adresse : <a href="mailto:{{ sender }}">{{ sender }}</a></p>
</body>
</html>