<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Maintenance CaTCaP</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6em; margin: 0; padding: 20px;">
	<h2>Bonjour {{ user.first_name }},</h2>
	<p>L'application CaTCaP sera en maintenance à compter du {{ start.date }} à {{ start.hour }}.</p>
	<p>Nous estimons que cette maintenance prendra fin le {{ end.date }} aux alentours de {{ end.hour }}.</p>
	<p>Merci,<br>
	L'équipe du projet CaTCaP</p>
	<br>
	<p>Si vous ne souhaitez pas recevoir ces mails, vous pouvez vous désinscrire depuis votre espace de gestion de compte.</p>
</body>
</html>