<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Confirmation de suppression de projet</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6em; margin: 0; padding: 20px;">
	<h2>Bonjour {{ user.first_name }} {{ user.last_name }} !</h2>

	<p>Nous vous confirmons la suppression du projet {{ corpus }} de nos bases de données.</p>
	<p>Si vous n'avez pas demandé cette suppression, merci de nous <a mailto="simon.chauvel@univ-smb.fr">contacter</a> de toute urgence.</p>

	<p>Merci,<br>
	L'équipe du projet CaTCaP</p>
</body>
</html>