<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Enregistrement de données terminé</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6em; margin: 0; padding: 20px;">
	<h2>Bonjour {{ user.first_name }} {{ user.last_name }} !</h2>

	<p>Nous vous informons que l'enregistrement de vos données est terminé. Vous pouvez dès à présent consulter vos cartes de compétences depuis notre site (via la page "Carte").</p>

	<p>Merci,<br>
	L'équipe du projet CaTCaP</p>
</body>
</html>